[Unit]
Description="8089/tcp => 8088/tcp"
After=network.target

[Service]
User=appfree
Group=appfree
Environment=LANG=en_US.UTF-8,LC_ALL=en_US.UTF-8
ExecStart=socat -v tcp-l:8089,fork,reuseaddr tcp:127.0.0.1:8088
Restart=always

[Install]
WantedBy=multi-user.target